@font-face {
  font-family: "VCR";
  src: url("/fonts/VCRosdNEUE.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "VCR", monospace !important;
}

pre,
code {
  font-family: "VCR", monospace !important;
  font-weight: 100;
}

::selection {
  background: #fff;
  color: #000;
}

::-moz-selection {
  background: #fff;
  color: #000;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

img,
.no-selection {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.hero-bg {
  z-index: -1;
  width: 100vw;
  word-wrap: break-word;
  opacity: 0.02;
  font-size: 3rem;
  user-select: none;
}
